theme: jekyll-theme-minimal

title: " "        # blank title to hide sidebar name
show_downloads: false   # hides GitHub profile link

collections:
  publications:
    output: true
  projects:
    output: true
